* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

nav ul {
    list-style: none;
    padding-left: 80px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #555;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #000;
}

section {
    padding: 50px 100px;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #000;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #000;
}

h3 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #000;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #333;
}


img {
    width: 60%;
    border-radius: 20px;
    margin-bottom: 10px;
}

#skills a {
    text-decoration: none;
}

#about h1 {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    width: 0;
    animation: 
    typing 1.2s steps(17, end) forwards,
    blink .8s infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 22% }
}

@keyframes blink {
    from { border-color: transparent }
    to { border-color: orange; }
}
