* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.5;
    background-color: #f5f5f5;
    color: #333;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

header {
    padding: 20px;
    width: 10%;
    position: sticky;
    top: 0;
    left: 0;
}

nav ul {
    list-style: none;
    padding-left: 60px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #555;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #000;
}

section {
    padding: 100px 80px;
    position: relative;
    display: inline-block;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #000;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #000;
}

h3 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #000;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #333;
}

#skills a {
    text-decoration: none;
    color: #FFA500;
    transition: color 0.3s ease;
}

#skills a:hover {
    color: #FF6347;
}

#about h1 {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    animation: typing 1s steps(17, end) forwards, blink 1s infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 305px }
}

@keyframes blink {
    from { border-color: transparent }
    to { border-color: orange }
}

img {
    width: 100%;
    max-width: 400px;
    border-radius: 20px;
    margin-right: 10px;
}

.video-container iframe {
    border-radius: 20px;
}

.music-container iframe {
    border-radius: 20px;
}
